#booking {
  padding: 110px 0;
  .wrapper {
    width: 1100px;
    max-width: 1100px;
    margin: auto;
    .booking-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      grid-gap: 45px;
      font-family: 'Open Sans', sans-serif;
      .booking-info {
        .booking-text {
          color: rgb(65, 65, 65);
          display: flex;
          flex-direction: column;
          p {
            line-height: 1.6;
            margin-bottom: 20px;
          }
          .book-btn {
            display: inline-block;
            text-align: center;
            width: 175px;
            margin: 20px auto 0;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            background: rgb(48, 48, 48);
            padding: 20px 0;
            font-weight: 600;
          }
        }
      }
      .booking-time {
        text-align: center;
        color: rgb(65, 65, 65);
        h4 {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 17px;
          letter-spacing: 1px;
          margin-bottom: 23px;
        }
        p {
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 23px;
        }
        ul {
          list-style: none;
          li {
            margin-bottom: 23px;
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
