.photo-2 {
  .bg-image {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('https://images.unsplash.com/photo-1501735972267-d5c1bc03655c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')
        no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 66vh;
    .booking {
      position: absolute;
      margin-bottom: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 4rem;
        font-weight: 400;
        margin: auto;
        text-align: center;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
